# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env

# Backend storage
backend/data/
backend/data/*.json

# Node / React
web/node_modules/
web/dist/
web/.vite/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db